h1 {
  text-align: center;
}

.searchModeField {
  margin: "10px";
  justify-content: center;
  align-items: center;
}

#searchModeButton {
  display: inline;
  margin: "0 auto";
  padding: 20px;
  outline-color: black;
}
